<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/add.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Inicio</title>
</head> 
<body>
    <header>
        <%- include ('./partials/header.ejs') %>
            </header>
            <div class="divUnderHeader">

                <div class="divUnderHeaderInner">
                    <div class="divUnderHeaderInnerColored">

                        <div class="divForm">
                            <div class="divformLeft">

                            </div>

                                    <form class="divFormright" action="/empleo/agregarSolicitud" method="POST">
                                <div class="divFormTittle">
                                    <p style="margin-bottom: 0; margin-top: 4% ;">¡Agrega tu solicitud!</p>
                                </div>

                                <div class="divFormBody">

                                    <div class="divformInputContainer" id="tittleInput">
                                        <p>Titulo</p>
                                        <div class="inputSignup">

                                            <input type="text" name="titulo" id="" class="" required>
                                            
                                        </div>
                                       
                                    </div>

                                    <div class="divformInputContainer" id="rubrosInput">

                                        <% console.log(rubros)  %> 
                                        <div class="divformInputContainerhalf">
                                            <p >Rubro</p>
                                            <div class="inputSignup" >
    
                                                <select class="rubro" name="rubro" id="" required>
                                                    <% rubros.forEach(element => { %>
                                                        <option class="rubro"    value="<%= element.ID_Rubro %>"><%= element.Nombre %></option>
                                                    <% }) %>
                                                </select>
                                                
                                            </div>
                                           
                                        </div>

                                        <div class="divformInputContainerhalf">
                                            <p >Subrubro</p>
                                            <div class="inputSignup" >
    
                                                <select class="subrubro" name="subrubro" id="" required>
                                                    <option value="asd" >Sin seleccionar</option>
                                                    <% subrubros.forEach(element => { %>
                                                        <option class="<%= element.ID_Rubro %>" value="<%= element.ID_SubRubro %>" hidden><%= element.Nombre %></option>
                                                    <% }) %>
                                                </select>
                                                
                                            </div>
                                           
                                        </div>
                                       
                                    </div>

                                    

                                        <div class="divformInputContainer" id="levelinput" style="margin-top: 4%;">
                                            <p>Nivel de experiencia</p>
                                            <div class="inputSignup" >
    
                                                <select name="nivel" id="nivelExp" required>
                                                    <option value="Practicas">Practicas</option>
                                                    <option value="Junior">Junior</option>
                                                    <option value="Semi-senior">Semi-senior</option>
                                                    <option value="Senior">Senior</option>
                                                </select>
                                                
                                            </div>
                                           
                                        </div>

                                        
                                        <div class="divformInputContainer" id="Descripcioninput">
                                            <label for="">Descrpicion</label>

                                            <div class="inputSignup" >
    
                                                <textarea name="descripcion" id="" class="inputSignup" rows="3" required></textarea >
                                                
                                            </div>
                                           
                                        </div>

                                        <div class="divformInputContainer" style="margin-top: 9%;">
                                            <button type="submit" id="botonenviar">Confirmar</button>
                                           
                                        </div>


                                </div>
                             </form>



                        </div>
                    </div>
                </div>

            </div>
            <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
            
            <script src="/js/add.js"></script>

        <%- include ('./partials/footer.ejs') %>

</body>