<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/inside.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@0,300;1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Birthstone&family=Poppins:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/be85762cea.js" crossorigin="anonymous"></script>

    <title>Empleos</title>
</head>


<body>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>



    <div class="divBody-UnderHeader">

        <form class="divBody-Filter" action="/empleo/misOfertas/1" method="POST">


            <div class="filterItem">
                <select name="Fecha" id="">
                    <option value="vacio" hidden selected>Fecha de publicacion</option>
                    <option value="valor1">ELVALOR</option>
                    <option value="">Fecha publicacion</option>
                    <option value="">Fecha publicacion</option>
                </select>
                <i></i>
            </div>

            <div class="filterItem">
                <select name="Experiencia" id="">

                    <% if (nivel=='vacio' ) { %>
                        <option value="vacio" selected hidden>Nivel de Experiencia</option>
                        <% } else { %>
                            <option value="<%= nivel%>" selected hidden>
                                <%= nivel%>
                            </option>
                            <option value="vacio">Sin seleccionar</option>
                            <% } %>

                                <option value="Practicas">Practicas</option>
                                <option value="Junior">Junior</option>
                                <option value="Semi-senior">Semi-senior</option>
                                <option value="Senior">Senior</option>
                </select>
                <i></i>
            </div>


            <!-- CONSTRUCCION DE COMBOBOX RUBROS -->
            <div class="filterItem">
                <select name="Rubro" id="">


                    <!-- CHEQUEO SI RUBRO VIENE VACIO -->
                    <% if (rubroSeleccionado=='vacio' ) { %>
                        <!-- SI VIENE VACIO SE MUESTRAN TODOS LOS RUBROS -->
                        <option value="vacio" hidden selected>Rubro</option>
                        <% rubros.forEach(element=> { %>

                            <option value="<%= element.Nombre %>">
                                <%= element.Nombre %>
                            </option>

                            <% }) %>>

                                <% } else { %>
                                    <!-- SI NO VIENE VACIO HAY QUE MOSTRAR SOLO EL ELEGIDO Y BLOQUEARLO -->
                                    <option value="<%= rubroSeleccionado %> " hidden selected>
                                        <%= rubroSeleccionado %>
                                    </option>
                                    <% } %>

                </select>
                <i></i>
            </div>

            <div class="filterItem">
                <select name="SubRubro" id="">
                    <!-- SI RUBRO SELECCIONADO VIENE VACIO, HAY QUE DESACTIVAR SUBRUBRO -->


                    <% if (rubroSeleccionado=='vacio' ) { %>
                        <option value="vacio" hidden selected>SubRubro</option>


                        <!-- SI RUBRO SELECCIONADO VIENE CON ALGO HAY QUE MOSTRAR EL ELEGIDO O MOSTRAR TODOS -->

                        <% } else { %>


                            <% if (subrubroSeleccionado=='vacio' ) { %>

                                <!-- SI VIENE SIN RUBRO SELECCIONADO MOSTRAMOS EL POR DEFECTO Y TODOS LOS CAMPOS -->

                                <option value="vacio" hidden selected>SubRubro</option>

                                <% listaSubRubros.forEach(element=> { %>
                                    <option value="<%= element.Nombre %>">
                                        <%= element.Nombre %>
                                    </option>
                                    <% }) %>

                                        <% } else { %>

                                            <!-- SI VIENE CON RUBRO SELECCIONADO MOSTRAMOS EL SELECCIONADO Y TODOS LOS CAMPOS -->

                                            <option value="<%= subrubroSeleccionado %>" hidden selected>
                                                <%= subrubroSeleccionado %>
                                            </option>
                                            <option value="vacio">Sin seleccionar</option>
                                            <% listaSubRubros.forEach(element=> { %>
                                                <option value="<%= element.Nombre %>">
                                                    <%= element.Nombre %>
                                                </option>
                                                <% }) %>



                                                    <% } %>
                                                        <% } %>

                </select>
                <i></i>
            </div>

            <div class="filterItem" id="FilterDiv">
                <button type="submit" id="filterButton">
                    FILTRAR
                </button>

                <a id="restablecerbtn" href="/empleo/misOfertas/1">LIMPIAR</a>

            </div>
        </form>

        <!-- imagen debajo del header -->
        <div class="divBackgroundUnderHeader">
            <div class="backgroundHeaderTittle">
                <p>¡Bienvenido <%= nombre %>!</p>
            </div>
            <div class="backgroundHeaderSub">
                <p>Te conectaremos con quienes te necesitan</p>
            </div>
            <div class="backgroundHeaderFooter">
                Mostrando tus ofertas del <%= (pagina-1)*5 %> al <%= (pagina)*5 %>, de <%= total %> en total
            </div>

        </div>


        <div class="divBody-UnderHeader-Inner">

            <%- include ('./partials/asideleftOfer.ejs') %>


                <div class="divBody-UnderHeader-Inner-right">
                    <div class="dUiR-Header">
                        <div class="dUiR-Header-Tittle">
                            <p>Tus ultimas ofertas laborales</p>
                        </div>
                        <div class="dUiR-Header-subTittle">
                            <%= (pagina-1)*5 %> - <%= (pagina)*5 %> de <%= total %> ofertas en total
                                        <!-- <%= ofertas.length %> solicitudes de <%= total %> en total -->

                        </div>
                    </div>




                    <% if (ofertas.length> 0) { %>
                        <%- include ('./partials/asideallcnt.ejs') %>


                            <div class="divPagination">


                                <ul class="pagination">



                                    <% if (filtrando==0) { %>

                                        <!-- SI ES  -->

                                        <% if (pagina !=1) { %>

                                            <li class="asd">

                                                <a class="PaginationItems"
                                                    href="/empleo/misOfertas/<%= ((pagina)-1) %> ">Anterior</a>

                                            </li>

                                            <% } else { %>

                                                <li class="asd">
                                                    <a class="PaginationItems"
                                                        href="/empleo/misOfertas/<%= ((pagina)-1) %> "
                                                        style="pointer-events: none" ;>Anterior</a>

                                                </li>
                                                <% } %>

                                                    <% if (ofertas.length !=5) { %>

                                                        <li class="asd">
                                                            <a class="PaginationItems"
                                                                href="/empleo/misOfertas/<%= (pagina)-(-1) %> "
                                                                style="pointer-events: none" ;>Siguiente</a>
                                                        </li>

                                                        <% } else { %>

                                                            <li class="asd">
                                                                <a class="PaginationItems"
                                                                    href="/empleo/misOfertas/<%= (pagina)-(-1) %> ">Siguiente</a>
                                                            </li>
                                                            <% } %>



                                                                <% } else { %>
                                                                    <% if (pagina !=1) { %>

                                                                        <li class="asd">
                                                                            <a class="PaginationItems"
                                                                                href="/empleo/misOfertas/Filter/<%= ((pagina)-1) %>/<%= consulta %> ">Anterior</a>
                                                                        </li>

                                                                        <% } else { %>
                                                                            <li class="asd">

                                                                                <a class="PaginationItems"
                                                                                    href="/empleo/misOfertas/Filter/<%= ((pagina)-1) %>/<%= consulta %>  "
                                                                                    style="pointer-events: none"
                                                                                    ;>Anterior</a>

                                                                            </li>
                                                                            <% } %>

                                                                                <% if (ofertas.length !=5) { %>

                                                                                    <li class="asd">

                                                                                        <a class="PaginationItems"
                                                                                            href="/empleo/misOfertas/Filter/ <%= (pagina)-(-1) %>/<%= consulta %>"
                                                                                            style="pointer-events: none"
                                                                                            ;>Siguiente</a>
                                                                                    </li>

                                                                                    <% } else { %>

                                                                                        <li class="asd">

                                                                                            <a class="PaginationItems"
                                                                                                href="/empleo/misOfertas/Filter/<%= (pagina)-(-1) %>/<%= consulta %>">Siguiente</a>
                                                                                        </li>
                                                                                        <% } %>
                                                                                            <% } %>


                                </ul>
                            </div <% } else { %>

                            <div class="divNoSolicitudes">
                                <p>No hay Ofertas disponibles :(</p>
                            </div>
                            <div class="divNoSolicitudes">
                                <i class="fas fa-sad-cry" id="iconNoSolicitudes"></i>
                            </div>


                            <% } %>





                </div>


        </div>

    </div>

    >
    <!-- FOOTER -->
    <%- include ('./partials/footer.ejs') %>
</body>


</html>