<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/be85762cea.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <title>Perfil</title>
</head>
<body>
    
    <header>
        <%- include ('./partials/header.ejs') %>
            </header>

            <div class="divUnderHeader">

            

                <div class="divUnderHeader-BODY">
                    <div class="bodyPortada">
                      <% if (usuario.portada) { %>
                        <img src="/portadas/<%= usuario.portada %> " alt="">
                      <% } %>
                      
                      <i class="fas fa-camera añadirportada" data-bs-toggle="modal" data-bs-target="#modalportada"></i>

                    </div>
                    
                </div>
                <div class="tituloyperfil">
                  <i class="fas fa-camera añadirfoto" data-bs-toggle="modal" data-bs-target="#modalfoto"></i>
                    <div class="perfilimagen">
                      <% if (!usuario.image) { %>
                        <img src="/img/default.jpg" alt="Perfil image" >
                      <% } else { %>
                        <img src="/<%= usuario.image %>" alt="Perfil image" >
                        <% } %>
                    </div>
                        <div class="solotitulo">
                            
                            <p><%= usuario.nombre %> <%= usuario.apellido %> </p>
                        </div>
                </div>

                <div class="bodyinfo">
                    <div class="bodyinfoleft">
                            <div class="bodyinfoleft-header">
                                <span>Acciones</span>
                            </div>
                            <div class="bodyinfoleft-body">
                                <div class="bodyinfoleft-body-item">
                                    <i class="fas fa-check-circle " ></i>
                                    <a class="mleftItem" data-bs-toggle="modal" data-bs-target="#modalVerificarse">¡Quiero verificarme!</a>   
                                </div>
                                <div class="bodyinfoleft-body-item">
                                    <i class="fas fa-user-edit"></i>
                                    <a class="mleftItem" href="/ofertante/perfil/editarPerfil">Editar informacion</a>   
                                </div>
                               
                                <div class="bodyinfoleft-body-item">
                                    <i class="fas fa-sticky-note"></i>
                                    <a class="mleftItem" data-bs-toggle="modal" data-bs-target="#modalCV">Subir mi CV</a>   
                                </div>
                            </div>
                    </div>
                    <div class="bodyinforight">
                        <div class="bodyinforight-Tittle">
                            <span>Informacion</span>
                            <i style="font-size: 0.7rem;">Los campos marcados con un * no seran vistos por los demas usuarios</i>
                        </div>

                        <div class="bodyinforight-infoContainer">
                            <div class="containerhalfed">
                                <div class="inputpluslabelhalfed">
                                    <label for="">Nombre</label>
                                    <input class="inputinfo" type="text" name="" id="" value="<%= usuario.nombre  %> " disabled>
                                </div>
                                <div class="inputpluslabelhalfed">
                                    <label for="">Apellido</label>
                                    <input class="inputinfo" type="text" name="" id="" value="<%= usuario.apellido  %>" disabled>
                                </div>
                            </div>

                            <div class="containerhalfed" style="margin-top: 4%;">
                              <div class="inputpluslabelhalfed">
                                  <label for="">*DNI</label>
                                  <input class="inputinfo" type="text" name="" id="" value="<%= usuario.DNI  %> " disabled>
                              </div>
                              <div class="inputpluslabelhalfed">
                                  <label for="">*Telefono</label>
                                  <input class="inputinfo" type="text" name="" id="" value="<%= usuario.telefono  %>" disabled>
                              </div>
                          </div>

                          <div class="bodyinforight-infoContainer" style="height: auto;">

                            <label for="" style="font-size: 1.1rem; margin-top: 5%;">*E-Mail</label>
                            <input class="inputinfo" type="text" name="" id="" value="<%= usuario.correo  %>" disabled  style="font-size: 1.1rem;">

                          </div>

                            <div class="bodyinforight-infoContainer">

                              <label for="" style="font-size: 1.1rem; margin-top: 5%;">Acerca de mi</label>
                              <textarea class="inputinfo" name="" id="" rows="5"  style="font-size: 1.1rem;" disabled><%= usuario.biografia  %></textarea>
                            </div>
                            
                           
                            

                        </div>
                    </div>
                </div>

            </div>

            

<!-- Modal verificacion -->
<div class="modal fade" id="modalVerificarse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¡Verificarme!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Para verificarte debes 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Verificarme</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal foto -->
<form class="modal fade" id="modalfoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" action="/ofertante/subirfoto" method="post" enctype="multipart/form-data">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Verificarme!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="file" name="imagen" accept="image/*">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Verificarme</button>
      </div>
    </div>
  </div>
</form>

 <!-- Modal portada -->
 <form class="modal fade" id="modalportada" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" action="/ofertante/subirportada" method="post" enctype="multipart/form-data">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Verificarme!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="file" name="imagen" accept="image/*">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Verificarme</button>
      </div>
    </div>
  </div>
</form>

  <!-- Modal cv -->
<div class="modal fade" id="modalCV" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sube tu CV</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Tu CV se mostrara anexado en tus publicaciones
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Subir cv</button>
        </div>
      </div>
    </div>
  </div>

            <%- include ('./partials/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
        </body>
        </html>