<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/be85762cea.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Perfil</title>
</head>
<body>
    
    <header>
        <%- include ('./partials/header.ejs') %>
            </header>

            <div class="divUnderHeader">

            

                <div class="divUnderHeader-BODY">
                    <div class="bodyPortada">
                      <% if (usuario[0].portada) { %>
                        <img src="/portadas/<%= usuario[0].portada %> " alt="">
                      <% } %>
                    </div>
                    
                </div>
                <div class="tituloyperfil">
                    <div class="perfilimagen">
                      <% if (!usuario[0].image) { %>
                        <img src="/img/default.jpg" alt="Perfil image" >
                      <% } else { %>
                        <img src="/<%= usuario[0].image %>" alt="Perfil image" >
                        <% } %>
                    </div>
                        <div class="solotitulo">
                            
                          <% if (usuario[0].verificado == 'si') { %>
                            <p><%= usuario[0].nombre %> <%= usuario[0].apellido %>  <i class="fas fa-check-circle" style="color: #00ADB5;"></i></p>

                            <% } else { %>
                              <p><%= usuario[0].nombre %> <%= usuario[0].apellido %> </p>

                          <% } %>                        </div>
                </div>

                <div class="bodyinfo">
                

                    <div class="bodyinforight" style="width: 100%; height: 75%;">
                        <div class="bodyinforight-Tittle">
                            <span>Informacion</span>
                        </div>

                        <div class="bodyinforight-infoContainer">
                            <div class="containerhalfed">
                                <div class="inputpluslabelhalfed">
                                    <label for="">Nombre</label>
                                    <input class="inputinfo" type="text" name="" id="" value="<%= usuario[0].nombre  %> "disabled>
                                </div>
                                <div class="inputpluslabelhalfed">
                                    <label for="">Apellido</label>
                                    <input class="inputinfo" type="text" name="" id="" value="<%= usuario[0].apellido  %>"disabled>
                                </div>
                                
                               
                            </div>

                            <% if (usuario[0].tipo == 'ofertante') { %>
                              <div class="bodyinforight-infoContainer">

                                <label for="" style="font-size: 1.1rem; margin-top: 4%;">CUIT</label>
                                <input class="inputinfo" name="" id=""  style="font-size: 1.1rem;" value="<%= usuario[0].CUIT %>" disabled  >
                                <a target="_blank" href="https://www.cuitonline.com/search.php?q=<%=usuario[0].CUIT%>" style="font-size: 0.8rem; font-family: 'Poppins'; text-decoration: none; color:black; margin-top: 2px;" >Verificar existencia</a>
                              </div>
                            <% } %>
                            <div class="bodyinforight-infoContainer">

                              <label for="" style="font-size: 1.1rem; margin-top: 4%;">Acerca de mi</label>
                              <textarea class="inputinfo" name="bio" id="" rows="5"  style="font-size: 1.1rem;" disabled><%= usuario[0].biografia  %> </textarea>
                            </div>
                            
                            

                        </div>
                    </div>
                </div>

            </div>

            

<!-- Modal verificacion -->
<div class="modal fade" id="modalVerificarse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¡Verificarme!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Para verificarte debes 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Verificarme</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal cv -->
<div class="modal fade" id="modalCV" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sube tu CV</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Tu CV se mostrara anexado en tus publicaciones
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Subir cv</button>
        </div>
      </div>
    </div>
  </div>

            <%- include ('./partials/footer.ejs') %>
            
        </body>
        </html>