<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/oferta-soli.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&family=Roboto:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/be85762cea.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Solicitud</title>

</head>
<body>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    


    <div class="divUnderHeader">
        <div class="divUnderHeaderInner">
            
            <div class="divUnderHeaderInner-Tittle">
               
                    <p><%= oferta[0].Titulo %> </p>
            </div>
            <div class="divUnderHeaderInner-SubTittle">
               <p>Publicado por <%= usuario[0].nombre%> <%= usuario[0].apellido%> el dia <%= oferta[0].fecha_i %></p>
            </div>
            <div class="divUnderHeaderInner-Caract">
                <div class="divContainterlogoCarac">
                    <i class="fas fa-briefcase" style="font-size: 1.3rem;"></i>
                    <p>Rubro: <%= rubro[0].Nombre%> </p>
                </div>

                <div class="divContainterlogoCarac">
                    <i class="fas fa-briefcase" style="font-size: 1.3rem;"></i>
                    
                    <p>SubRubro: <%= subrubro[0].Nombre%> </p>
                </div>
                <div class="divContainterlogoCarac">
                    <i class="fas fa-user-tie" style="font-size: 1.3rem;"></i>
                    <p>Nivel de experiencia requerido: <%= oferta[0].Nivel%> </p>
                </div>
                
            </div>
            <div class="divUnderHeaderInner-descr">
                <%= oferta[0].Descripcion %>

            </div>
            
            <div class="divBotones" > 

                <% if (usuariologueado.tipo == 'solicitante') { %>
               
                    <% if (usuariologueado.idusuario == oferta[0].idusuario) { %>
                        <form action="/solicitud/eliminar/<%= oferta[0].ID_Solicitud %> " method="POST">
                        <button type="submit">Eliminar publicacion</button>
                         </form>
                         <form  action="/solicitante/renovar/tiempo/<%= oferta[0].ID_Solicitud %> " method="POST" style="margin-left: 2%;">
                            <button>Renovar tiempo</button>
                        </form>
                    <% } %>

                
                <% } else { %>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"> Datos de contacto</button>
                    <a href="/perfil/<%= oferta[0].idusuario %>">Perfil de solicitante</a>

                    <% }  %>


                </div>
        </div>
    </div>
<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datos de contacto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <p>Email de contacto: <%= usuario[0].correo  %> </p>
         <p>Telefono de contacto: <%= usuario[0].telefono  %> </p>

         <% if (!usuario[0].cv) { %>
            <p>Este usuario no tiene un CV adjuntado a su cuenta</p>
            <% } else { %>
                <a class="descargarCurriculum" href="/cvs/<%= usuario[0].cv %> " target="_blank">Descargar curriculum vitae</a>

         <% } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>